{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="{% static 'course.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">🦁 Sheryians Coding School</div>
        <ul class="nav-links">
            <li><a href="{% url 'yash:home' %}">Home</a></li>
            <li><a href="{% url 'yash:course' %}">Course</a></li>
            <li><a href="{% url 'yash:bootcamp' %}">Bootcamp</a></li>
            <li><a href="{% url 'yash:callback' %}">Request Call Back</a></li>
            <li><a href="{% url 'yash:sign' %}">Sign In</a></li>
        </ul>
    </nav>
    <div id="div1">
        <h1 style="color: white; font-size: 80px; margin-left: 100px;">
            we're not a <span style="color: aquamarine;">course <br>
            factory.</span>
        </h1>
        <h4 style="font-size: 40px;color: white; margin-left: 100px; margin-top: -50px;">
            we focus on courses that really help.
        </h4>
    </div>

    <div id="div2">
        <h1 id="head1">Course which do work </h1>
    </div>

    <div id="maindiv">




        <div class="subdiv">
            <div id="fdiv1">
                <img id="img1" src="../static/i1.jpg" alt="">
            </div>
            <div id="sdiv2">
                <h1 id="head8">Front-End Domination: Create <br>
                Anything with code</h1>
                <input id="inp1" type="button" value="HINDI">
            </div>
            <div>
                <h1 id="head9">Limited Time Discount <br>
                   <span style="font-size: 20px; margin-left: 10px; color: white;">₹4999</span> <span style="font-size: 20px; margin-left: 10px; color: #575757;"><s>₹9999</s></span>
                </h1>
                <input id="inp2" type="button" value="50% OFF">
            </div>
            <div id="tdiv3">
                <h1 id="head10">View Details </h1>
            </div>
        </div>
    
    
    
    
    
    
        
            <div class="subdiv">
                <div id="fdiv1">
                    <img id="img1" src="../static/i1.jpg" alt="">
                </div>
                <div id="sdiv2">
                    <h1 id="head8">Back-End Domination: Create <br>
                    Efficient Back-End.</h1>
                    <input id="inp1" type="button" value="HINDI">
                </div>
                <div>
                    <h1 id="head9">Limited Time Discount <br>
                       <span style="font-size: 20px; margin-left: 10px; color: white;">₹5999</span> <span style="font-size: 20px; margin-left: 10px; color: #575757;"><s>₹11999</s></span>
                    </h1>
                    <input id="inp2" type="button" value="50% OFF">
                </div>
                <div id="tdiv3">
                    <h1 id="head10">View Details </h1>
                </div>  
        </div>
    
    
    
    
    
    
    
    
    
        <div class="subdiv">
            <div id="fdiv1">
                    <img id="img1" src="../static/i1.jpg" alt="">
                </div>
                <div id="sdiv2">
                    <h1 id="head8">Aptitude & Reasoning for <br>
                    Campus Placements</h1>
                    <input id="inp1" type="button" value="HINGLISH">
                </div>
                <div>
                    <h1 id="head9">Limited Time Discount <br>
                       <span style="font-size: 20px; margin-left: 10px; color: white;">₹999</span> <span style="font-size: 20px; margin-left: 10px; color: #575757;"><s>₹1500</s></span>
                    </h1>
                    <input id="inp2" type="button" value="33% OFF">
                </div>
                <div id="tdiv3">
                    <h1 id="head10">View Details </h1>
                </div>  
        </div>
    
    
    
        <div class="subdiv">
            <div id="fdiv1">
                    <img id="img1" src="../static/i1.jpg" alt="">
                </div>
                <div id="sdiv2">
                    <h1 id="head8">Java & DSA Domination</h1>
                    <input id="inp1" type="button" value="HINDI">
                </div>
                <div>
                    <h1 id="head9">Limited Time Discount <br>
                       <span style="font-size: 20px; margin-left: 10px; color: white;">₹4999</span> <span style="font-size: 20px; margin-left: 10px; color: #575757;"><s>₹9999</s></span>
                    </h1>
                    <input id="inp2" type="button" value="50% OFF">
                </div>
                <div id="tdiv3">
                    <h1 id="head10">View Details </h1>
                </div>  
        </div>
        <div class="subdiv">
            <div id="fdiv1">
                <img id="img1" src="../static/i1.jpg" alt="">
            </div>
            <div id="sdiv2">
                <h1 id="head8">Three.js Domination</h1>
                <input id="inp1" type="button" value="HINDI">
            </div>
            <div>
                <h1 id="head9">Black Friday Sale<br>
                   <span style="font-size: 20px; margin-left: 10px; color: white;">₹2499</span> <span style="font-size: 20px; margin-left: 10px; color: #575757;"><s>₹3500</s></span>
                </h1>
                <input id="inp2" type="button" value="29% OFF">
            </div>
            <div id="tdiv3">
                <h1 id="head10">View Details </h1>
            </div>  
        </div>
    </div>

    <div id="details">
        <div class="data">
            <h1 style="width: 100px; height: 100px; margin-top: 80px; margin-left: 30px; font-size: 50px;">🦁</h1>
            <h1 style="color: white; font-size: 15px;margin-top: -60px;margin-left: 30px;">Let's connect with our socials</h1>
            <h6><img style="width: 250px; height: 55px; margin-top: -20px; margin-left: 20px;"  src="../static/Screenshot 2024-12-19 094533.png" alt=""></h6>
        </div>
        <div class="data">
            <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">COMPANY</h3>
            <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">About Us</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Support</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Privacy Policy</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Terms and Conditions</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Pricing and Refund</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Hire From Us</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bug Bounty</h6>
        </div>
        <div class="data">
            <h3 style="font-size: 20px; color: white; margin-top: 80px; margin-left: 50px;"> COMMUNITY</h3>
            <h6 style="font-size: 15px; color: white; margin-top: 15px; margin-left: 50px;">intertia</h6>
            <h6 style="font-size: 15px; color: white; margin-top: -15px; margin-left: 50px;">Discord</h6>
        </div>
        <div class="data">
            <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">Get In Touch</h3>
            <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">+91 8109161752</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">+919691778470</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">hello@Sheryians.com</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">23-B,indrapuriSectorC,</h6>
            <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bhopal(MP),462021</h6>
        </div>
    </div>

    <div>
        <h1 style="color: white; font-size: 17px; margin-left: 500px; margin-top: 50px;">
            copyright <span style="font-size: 17px; color: white;">©️</span> 2024 Sheryians Pvt.Ltd. <br>
            <span style="margin-left: 70px;">All Rights Reserved</span>
        </h1>
    </div>

</body>
</html>